# Python virtual environments
myenv/
venv/
.venv/
env/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyd
*.dll
*.so

# Streamlit
.streamlit/secrets.toml

# IDEs
.vscode/
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/
